body {
    background-image: url("img/back.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.center-block {
    width: 40%;
    height: 60%; 
    background-color: #b8f8fce6; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
@media (max-width: 768px) {
    .center-block {
        width: 100%; 
        height: auto; 
        position: static;
        transform: none; 
    }
}
.Content {
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
}

.Button {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    border: none;
    border-radius: 9px;
    font-size: 22px;
    width: 400px;
    height: 100px;
}
span {
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 100%; 
}
h {

    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 100%;
    color:white;
}

.EnterButton {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #1C42B0;
    border: none;
    border-radius: 9px;
    font-size: 22px;
    width: 400px;
    height: 100px;
    text-decoration: underline;
    
}

a:active,
a:hover,
a {
    text-decoration: underline;
    color: black;
}
header {
    background-color: #b8f8fce6;
    padding: 20px;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    margin: 0 0 0 0;
}

.logo img {
    width: 60px;
    
}

.title h1 {
  margin:0 0 0 10px;
  color: #9b59b6;
}

.contact-info p {
    margin: 0 180px 0 ;
    color:dimgrey;
}
