@page
@model WebB.Pages.EditPasswordModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" href="css/EnterPStyle.css" asp-append-version="true">
@{
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="center-block">
	<div class="Content">
		<div class="addText">
			</br>
			<div class="addTextTitle">Вход</div>
			</br>
			<form method="post">

					<div>Введите старый пароль</div>
					<input type="text" name="oldP" required/>
					</br>
					<div>Введите новый пароль</div>
					<input type="text" name="newP" required/>
					<br /></br>
					<input type="submit" value="Изменить"/>	
			</form>
			</div>
    </div>
</div>