@page
@model WebB.Pages.EnterPageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using WebB.Data;
<link rel="stylesheet" href="css/EnterPStyle.css" asp-append-version="true">
@{
}
<div class="center-block">
	<div class="Content">
		<div class="addText">
			</br>
			<div class="addTextTitle">Вход</div>
			</br>
			

			<form method="post" asp-page="MainPage">

					<div>Введите логин</div>
					<input type="text" name="username" required/>
					</br>
					<div>Введите пароль</div>
					<input type="text" name="password" required/>
					<br /></br>
					<input type="submit" value="Отправить"/>
					
			</form>
			
			</div>
    </div>
</div>