@page
@model WebB.Pages.EntersTimeModel
@using WebB.Data;
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div>
    @foreach(var item in Database.Instans.EntersTime)
    {
        <div>
            
        </div>
    }
</div>